<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <dev class="hContainer">
        <nav class="hwrapper">
            <div class="brand">
                <div class="logo">
                    <img src="logo.png" alt="Logo">
                </div>
                <div class="brandName">The Rescue Pets</div>
            </div>
            <ul class="navigation">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/">Account</a></li>
                <li><a href="/">Report Pets</a></li>
                <li><a href="/">Chat</a></li>
                <a href="/" class="login-button">Logout</a>
            </ul>
        </nav>
        <dev class="content">
            <div class="header-content">
                <div class="jenis-hewan">
                    <span>Jenis Hewan</span>
                    <div class="frame1">
                        <select>
                            <option value="kucing">Kucing</option>
                            <option value="anjing">Anjing</option>
                        </select>
                    </div>
                </div>
                <div class="search">
                    <span>Lokasi</span>
                    <div class="frame2">
                        <input type="text" class="search">
                    </div>
                </div>
                <div class="status">
                    <span>Status</span>
                    <div class="frame3">
                        <select>
                            <option value="lost">Lost</option>
                            <option value="found">Found</option>
                            <option value="adopt">Adopt</option>
                        </select>
                    </div>
                </div>
                <button class="button">Reset</button>
                <button class="search-button">Search</button>
            </div>

            <div class="body-content">
                <main class="grid">
                    <article>
                        <img src="content1.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Minnie <span class="lost">Lost</span></h2>
                            <p>Gamping, Sleman</p>
                        </div>
                    </article>
                    <article>
                        <img src="content2.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Yuqi <span class="found">Found</span></h2>
                            <p>Depok, Sleman</p>
                        </div>
                    </article>
                    <article>
                        <img src="content3.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Lisa <span class="adopt">Adopt</span></h2>
                            <p>Godean, Sleman</p>
                        </div>
                    </article>
                    <article>
                        <img src="content3.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Lisa</h2>
                            <p>Godean, Sleman</p>
                        </div>
                    </article>
                    <article>
                        <img src="content3.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Lisa</h2>
                            <p>Godean, Sleman</p>
                        </div>
                    </article>
                    <article>
                        <img src="content3.png" alt="" width="250px" height="200px">
                        <div class="konten">
                            <h2>Lisa</h2>
                            <p>Godean, Sleman</p>
                        </div>
                    </article>
                </main>
            </div>
        </dev>
    </dev>
</body>
</html>