<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Wellcome</title>
</head>
<body>
    <div class="fContainer">
        <nav class="wrapper">
            <div class="brand">
                <div class="logo">
                    <img src="logo.png" alt="Logo">
                </div>
                <div class="brandName">The Rescue Pets</div>
            </div>
            <dev class="navigation">
                <a href="/login" class="login-button">Login</a>
                <a href="/register" class="login-button">Sign-Up</a>
            </dev>
        </nav>
        <div class="cContainer">
            <div class="left-content">
                <h1 class="title">Adopt and Find Lost Pet</h1>
                <p>Adopt a new pet and find your lost pet here.</p>
                <a href="/home" class="find-more-button">Find More</a>
            </div>
            <div class="right-content">
                <img src="cat.png" alt="Pet Image">
            </div>
        </div>
    </div>
</body>
</html>